<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput [formControl]="email" required />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage(email) }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your first name</mat-label>
      <input matInput [formControl]="firstName" required />
      <mat-error *ngIf="firstName.invalid">{{
        getErrorMessage(firstName)
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your last name</mat-label>
      <input matInput [formControl]="lastName" required />
      <mat-error *ngIf="lastName.invalid">{{
        getErrorMessage(lastName)
      }}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Sign Up</button>
    <button mat-button [routerLink]="['/sign-in']" color="primary">Already have an account? Sign In!</button>
  </div>
  