<header>
  <mat-toolbar color="primary">
    <mat-icon>account_balance</mat-icon>
    <h2>RadBank</h2>
    <span class="spacer"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a [routerLink]="['/']" mat-menu-item>Home</a>
      <a [routerLink]="['/accounts']" mat-menu-item>My Accounts</a>
      <a [routerLink]="['/']" mat-menu-item>Sign out</a>
      <a [routerLink]="['/sign-in']" mat-menu-item>Sign in</a>
    </mat-menu>
  </mat-toolbar>
</header>
