<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Account # </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{ account.id }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Account Name </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{ account.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="balance">
    <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{ account.balance }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let account">
      <div class="actions">
        <button
          mat-stroked-button
          (click)="openDepositDialog(account.id)"
          color="primary"
        >
          Deposit
        </button>
        <button
          mat-stroked-button
          (click)="openWithdrawDialog(account.id)"
          color="primary"
        >
          Withdraw
        </button>
        <button
          mat-flat-button
          (click)="openDeleteDialog(account.id)"
          color="warn"
        >
          Close
        </button>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<button mat-raised-button color="primary" (click)="createAccountDialog()">
  Create New Account
</button>
